<configuration>
    <springProfile
            name="local,qa,default,devtool">
        <appender name="CONSOLE"
                  class="ch.qos.logback.core.ConsoleAppender">
            <encoder>
                <pattern>%d %5p | %t | %-55logger{55} | %m %n</pattern>
            </encoder>
        </appender>

        <root level="info">
            <appender-ref ref="CONSOLE"/>
        </root>

        <logger name="com.sum">
            <level value="debug"/>
        </logger>

        <logger name="org.hibernate">
            <level value="info"/>
            <appender-ref ref="CONSOLE"/>
        </logger>
    </springProfile>
</configuration>